
.hero {
  background-image: url('/Orbi-login2.webp');
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;    

  width: 100vw;                   
  height: 100vh;                   
  margin: 0;                       
  padding-top: 80px;               
  display: flex;                   
  align-items: center;             
  justify-content: center;         
  position: relative;              
  overflow: hidden;                
}


body {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  background: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #3a3a3a;
  color: #fff;
}


