:host {
  display: block;
  height: 100%; 
  overflow: hidden; 
}

:host main::-webkit-scrollbar {
  width: 8px;
}

:host main::-webkit-scrollbar-thumb {
  background-color: rgba(124, 58, 237, 0.6); 
  border-radius: 6px;
}

:host main::-webkit-scrollbar-track {
  background: transparent;
}
