<article class="bg-gray-800 rounded-lg border border-gray-700 flex hover:border-gray-600 transition-colors duration-200">

  <div class="flex flex-col items-center p-2 sm:p-3 bg-gray-800/50 rounded-l-lg">
    <button
      (click)="curtirPost()"
      class="p-1 rounded transition active:scale-95"
      [ngClass]="{
        'text-orange-500 bg-gray-700': post.curtidoPeloUsuario,
        'text-gray-400 hover:text-orange-500 hover:bg-gray-700': !post.curtidoPeloUsuario
      }"
      title="Curtir"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        [ngClass]="{
          'stroke-orange-500': post.curtidoPeloUsuario,
          'stroke-gray-400': !post.curtidoPeloUsuario
        }"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 15l7-7 7 7"
        ></path>
      </svg>
    </button>

    <span class="text-sm font-bold my-1 text-white">
      {{ formatVotes(post.totalPontuacao) }}
    </span>

    <button
      (click)="descurtirPost()"
      class="p-1 rounded transition active:scale-95"
      [ngClass]="{
        'text-blue-500 bg-gray-700': post.descurtidoPeloUsuario,
        'text-gray-400 hover:text-blue-500 hover:bg-gray-700': !post.descurtidoPeloUsuario
      }"
      title="Descurtir"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        [ngClass]="{
          'stroke-blue-500': post.descurtidoPeloUsuario,
          'stroke-gray-400': !post.descurtidoPeloUsuario
        }"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </button>
  </div>

  <div class="flex-1 p-3 sm:p-4">
    <div class="flex items-center justify-between mb-2">

      <div class="flex items-center gap-2 text-sm">
        <span class="text-gray-400">·</span>

        <a 
          [routerLink]="['/perfil', post.usernameAutor]" 
          class="text-gray-200 text-base font-semibold hover:underline cursor-pointer"
        >
          @{{ post.usernameAutor }}
        </a>

        <span class="text-gray-400">
        <ng-container *ngIf="post.editado; else dataOriginal">
          {{ post.dataEdicao | date:'short' }} <span class="italic text-gray-500">(editado)</span>
        </ng-container>

        <ng-template #dataOriginal>
          {{ post.dataCriacao | date:'short' }}
        </ng-template>
      </span>

      </div>

      <div class="flex items-center gap-2">

        <button
          *ngIf="usernameAutor === post.usernameAutor"
          (click)="editarPost()"
          class="p-2 rounded transition active:scale-95 text-gray-400 hover:text-yellow-400 hover:bg-gray-700"
          title="Editar post"
        >
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.232 5.232l3.536 3.536M4 20h4l10.232-10.232a2 2 0 0 0 0-2.828l-3.536-3.536a2 2 0 0 0-2.828 0L4 14v6z" />
          </svg>
        </button>

        <button
          (click)="favoritarPost()"
          class="p-2 rounded transition active:scale-95"
          [ngClass]="{
            'text-red-500 bg-gray-700': post.favoritadoPeloUsuario,
            'text-gray-400 hover:text-red-500 hover:bg-gray-700': !post.favoritadoPeloUsuario
          }"
          title="Favoritar"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path d="M6 2a2 2 0 0 0-2 2v18l8-4 8 4V4a2 2 0 0 0-2-2H6z"></path>
          </svg>
        </button>

      </div>

    </div>


    <div class="flex items-center gap-2 mb-2">
      <h2 class="text-lg sm:text-xl font-semibold text-white hover:underline cursor-pointer">
        {{ post.titulo }}
      </h2>
    </div>

    <div class="relative max-h-96 overflow-y-auto pr-2">
      <p class="text-gray-300 text-sm leading-relaxed whitespace-pre-line">
        {{ post.conteudo }}
      </p>
    </div>
    <div *ngIf="post.urlArquivo" class="w-full aspect-video rounded-lg pt-[10px] pr-[20px]">
      <img 
        *ngIf="post.urlArquivo"
        [src]="post.urlArquivo"
        alt="Imagem do post"
        class="w-full max-h-[600px] object-cover rounded-2xl shadow-lg border border-gray-800 "
      />
    </div>



    <div class="flex items-center gap-4 mt-4 text-sm font-medium">
      <button (click)="toggleComentarios()" class="flex items-center gap-1.5 px-3 py-2 rounded-full hover:bg-gray-700 text-gray-400 transition">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 5.523-4.477 10-10 10S1 17.523 1 12 5.477 2 11 2s10 4.477 10 10z"
          ></path>
        </svg>
        <span>{{ post.totalComentarios || 0 }} Comentários</span>
      </button>
    </div>

    <div *ngIf="mostrarComentarios">
      <app-post-comentario [postId]="post.id"></app-post-comentario>
    </div>

  </div>
</article>
