<nav class="h-full flex flex-col bg-gray-950 text-gray-100 px-4 py-6">

  <div class="relative w-24 h-24">
  <label for="file-upload" class="cursor-pointer">
    <div class="w-full h-full rounded-full overflow-hidden border-4 border-none flex items-center justify-center translate-x-10 bg-gray-600">
      <img 
        *ngIf="selectedImage" 
        [src]="selectedImage" 
        alt="Avatar" 
        class="w-full h-full object-cover"
      />
      <span *ngIf="!selectedImage" class="text-gray-200 text-sm">+</span>
    </div>
  </label>

  <input 
    id="file-upload" 
    type="file" 
    accept="image/*" 
    (change)="onFileSelected($event)" 
    class="hidden"
  />
</div>


  <ul class="space-y-2 text-sm translate-y-4 translate-x-2">
    <li><a (click)="onPaginaInicialClick()" class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">home_filled</span> Página inicial</a></li>
    <li><a  class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">person</span> Perfil</a></li>
    <li><a routerLink="/criar_post" class="block px-3 py-2 rounded hover:bg-gray-800 transition"> <span class="material-icons">add_box </span> Criar Post</a></li>
    <li>
      <a (click)="onFavoritosClick()" class="block px-3 py-2 rounded hover:bg-gray-800 transition">
        <span class="material-icons">star_border</span> Favoritos
      </a>
    </li>
    <li>
      <a (click)="onAssistentClick()" class="block px-3 py-2 rounded hover:bg-gray-800 transition">
        <span class="material-icons">chat_bubble_outline</span> Assistent
      </a>
    </li>
    <li><a  class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">logout</span> Sair</a></li>
  </ul>

  <!-- <hr class="my-4 border-gray-800"> -->


  <!-- <div>
    <h4 class="text-xs text-gray-400 uppercase mb-2">Recentes</h4>
    <ul class="space-y-1 text-sm">
      <li *ngFor="let r of recentes">
        <a [routerLink]="r.route" class="block px-3 py-2 rounded hover:bg-gray-800 transition">{{ r.label }}</a>
      </li>
    </ul>
  </div> -->

  <!-- <hr class="my-4 border-gray-800"> -->


  <!-- <div class="mt-auto">
    <h4 class="text-xs text-gray-400 uppercase mb-2">Assuntos</h4>
    <ul class="space-y-1 text-sm">
      <li *ngFor="let c of categorias">
        <a href="#" class="block px-3 py-2 rounded hover:bg-gray-800 transition">{{ c }}</a>
      </li>
    </ul>
  </div> -->
</nav>
