
<nav class="h-full flex flex-col bg-gray-950 text-gray-100 px-4 py-6">

  <div class="mb-6 flex items-center gap-3">
    <div class="w-10 h-10 rounded-md bg-gradient-to-br from-purple-500 to-indigo-600 flex items-center justify-center shadow">

      <svg class="w-6 h-6 text-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.2"></circle>
        <path d="M8 12h8" stroke="white" stroke-width="1.2" stroke-linecap="round"></path>
      </svg>
    </div>
    <span class="font-semibold text-lg">ORBI</span>
  </div>


  <ul class="space-y-2 text-sm">
    <li><a routerLink="/feed" class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">home_filled</span> Página inicial</a></li>
    <li><a routerLink="/perfil" class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">person</span> Perfil</a></li>
    <li><a routerLink="/criar_post" class="block px-3 py-2 rounded hover:bg-gray-800 transition"> <span class="material-icons">add_box </span> Criar Post</a></li>
    <li><a routerLink="/favoritos" class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">star_border</span> Favoritos</a></li>
    <li><a routerLink="/sair" class="block px-3 py-2 rounded hover:bg-gray-800 transition"><span class="material-icons">logout</span> Sair</a></li>
  </ul>

  <!-- <hr class="my-4 border-gray-800"> -->


  <!-- <div>
    <h4 class="text-xs text-gray-400 uppercase mb-2">Recentes</h4>
    <ul class="space-y-1 text-sm">
      <li *ngFor="let r of recentes">
        <a [routerLink]="r.route" class="block px-3 py-2 rounded hover:bg-gray-800 transition">{{ r.label }}</a>
      </li>
    </ul>
  </div> -->

  <!-- <hr class="my-4 border-gray-800"> -->


  <!-- <div class="mt-auto">
    <h4 class="text-xs text-gray-400 uppercase mb-2">Assuntos</h4>
    <ul class="space-y-1 text-sm">
      <li *ngFor="let c of categorias">
        <a href="#" class="block px-3 py-2 rounded hover:bg-gray-800 transition">{{ c }}</a>
      </li>
    </ul>
  </div> -->
</nav>
